:root {
  --color-color: #ffffff;
  --color-color-brand-primary-50: #ffecee;
  --color-color-brand-primary-100: #fad6da;
  --color-color-brand-primary-200: #f2a1a6;
  --color-color-brand-primary-300: #ea6b71;
  --color-color-brand-primary-400: #e03639;
  --color-color-brand-primary-500: #cd0c0b;
  --color-color-brand-primary-600: #b60504;
  --color-color-brand-primary-700: #9d0303;
  --color-color-brand-primary-800: #871111;
  --color-color-brand-primary-900: #6e1010;
  --color-color-brand-quaternary-50: #f0fdf5;
  --color-color-brand-quaternary-100: #daf4e5;
  --color-color-brand-quaternary-200: #b5e9cc;
  --color-color-brand-quaternary-300: #80d1a7;
  --color-color-brand-quaternary-400: #4dc088;
  --color-color-brand-quaternary-500: #09a762;
  --color-color-brand-quaternary-600: #048b5d;
  --color-color-brand-quaternary-700: #08734e;
  --color-color-brand-quaternary-800: #0e5c41;
  --color-color-brand-quaternary-900: #0b4430;
  --color-color-brand-secondary-25: #f2f7ff;
  --color-color-brand-secondary-50: #e6ebf3;
  --color-color-brand-secondary-100: #b0c1da;
  --color-color-brand-secondary-200: #8aa3c8;
  --color-color-brand-secondary-300: #557aaf;
  --color-color-brand-secondary-400: #3460a0;
  --color-color-brand-secondary-500: #013888;
  --color-color-brand-secondary-600: #01337c;
  --color-color-brand-secondary-700: #012861;
  --color-color-brand-secondary-800: #011f4b;
  --color-color-brand-secondary-900: #001839;
  --color-color-brand-tertiary-50: #fff9e7;
  --color-color-brand-tertiary-100: #feedb6;
  --color-color-brand-tertiary-200: #fee592;
  --color-color-brand-tertiary-300: #fed961;
  --color-color-brand-tertiary-400: #fdd142;
  --color-color-brand-tertiary-500: #fdc613;
  --color-color-brand-tertiary-600: #e6b411;
  --color-color-brand-tertiary-700: #b48d0d;
  --color-color-neutral-50: #f8fafc;
  --color-color-neutral-100: #f1f5f9;
  --color-color-neutral-200: #e2e8f0;
  --color-color-neutral-300: #cbd5e1;
  --color-color-neutral-400: #94a3b8;
  --color-color-neutral-500: #64748b;
  --color-color-neutral-600: #475569;
  --color-color-neutral-700: #334155;
  --color-color-neutral-800: #1e293b;
  --color-color-neutral-text: #212121;
  --color-color-neutral-white: #ffffff;
}
