:root {
  --content-font-family-primary: Merriweather;
  --content-font-family-secondary: Open Sans;
  --content-font-weight-merriweather-weight: String value;
  --content-font-weight-opensans-weight: String value;
}
